node-red/data/.flows.json.backup
[{"id":"811d412f.8faf5","type":"tab","label":"Flow 1"},{"id":"134496f5.f74399","type":"mqtt-broker","z":"","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"7d8191dd.b7f7","type":"mqtt in","z":"811d412f.8faf5","name":"m1","topic":"test","qos":"2","broker":"134496f5.f74399","x":220.5,"y":124,"wires":[["9149c5cf.849de8"]]},{"id":"9149c5cf.849de8","type":"debug","z":"811d412f.8faf5","name":"d1","active":true,"console":"false","complete":"payload","x":519.5,"y":125,"wires":[]},{"id":"e2d1296f.0f1128","type":"inject","z":"811d412f.8faf5","name":"i1","topic":"hello","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":179.5,"y":243,"wires":[["3c314a4b.ae0376"]]},{"id":"3c314a4b.ae0376","type":"mqtt out","z":"811d412f.8faf5","name":"m2","topic":"test","qos":"","retain":"","broker":"134496f5.f74399","x":517.5,"y":234,"wires":[]}]